@model Controle_Estoque_Mvc.Models.Estoque

@{
    ViewData["Title"] = "Delete";
}


<h3 class="text-center">Tem certeza de que deseja excluir esse produto?</h3>
<div>
<hr />
    <dl class="row" style="margin-left:50px;margin-right:50px">
        <dt class = "col-sm-auto text-end">
            @Html.DisplayNameFor(model => model.Lote)
        </dt>
        <dd class = "col-sm-auto">
            @Html.DisplayFor(model => model.Lote)
        </dd>
        <dt class = "col-sm-auto text-end">
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>
        <dd class = "col-sm-auto">
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>
        <dt class = "col-sm-auto text-end">
           <label>No estoque</label>
        </dt>
        <dd class = "col-sm-auto" id="qntdEstoque" >
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-auto text-end">
            @Html.DisplayNameFor(model => model.Recebimento)
        </dt>
        <dd class = "col-sm-auto">
            @Html.DisplayFor(model => model.Recebimento)
        </dd>
        <dt class = "col-sm-auto text-end">
            @Html.DisplayNameFor(model => model.Validade)
        </dt>
        <dd class = "col-sm-auto">
            @Html.DisplayFor(model => model.Validade)
        </dd>
    </dl>
   
       <form asp-action="Delete" >
            <div class="d-grid gap-2 d-grid gap-2 mt-2"> 
                <input type="hidden" asp-for="Id"/>
                <input type="submit" value="Confirmar" class="btn text-white" style="background-color:#7b67eb";/> 
                <a role="button" class="btn btn-danger" asp-action="Index"><strong>Voltar</strong></a>
            </div>
       </form>
    </dl>
    
</div>
