@model IEnumerable<Gestao_Estoque_Mvc.Models.Clientes>

@{
    ViewData["Title"] = "Index";
}


@if(TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success mt-2" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if(TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger mt-2" role="alert">
    @TempData["MensagemErro"]
</div>

}


<h1 class="text-center mt-4">Lista Clientes</h1>

<p>
    <a role="button" class="btn col-12 text-white" asp-action="Create" style="background-color: #7b67eb"><strong>Adicionar Cliente</strong> </a>
</p>
<hr />

<table class="table" id="tabela_produtos">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                <a role="button" class="btn btn-outline-primary px-2 py-1" asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                <a role="button" class="btn btn-outline-danger  px-2 py-1" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready( function () {

            $('#tabela_produtos').DataTable({

                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                }

            }); 
                
    } );
    </script>
}
